body,html{

    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}
canvas{
    position:absolute;
    top:35px;
    left:35px;
}

#menu{
    position:absolute;
    width: 1775px;
    height:825px;
    top:35px;
    left:35px;
    text-align: center;
    font-size:70px;
    background-color: green;
}
#background{
    background-color: yellow;
}
